@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}
h1 {
  font-size: 1.6rem;
  margin: 0.5rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 1.2rem;
  margin: 0 0 0.5rem 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
}
.nav {
  display: flex;
  list-style: none;
}
.nav__items {
  display: flex;
  padding: 0 1rem;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
}
.search {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}
.search-items {
  font-size: 1.6rem;
  border: 1px solid lightgray;
  border-radius: 5px;
}
#search-btn {
  cursor: pointer;
}
.recipe {
  /* display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 align-items: center;
 justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  background-color: wheat;
  overflow: hidden;
}
