*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /*set default font size 16px*/
}

body {
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}
section {
  height: 50rem;
  margin-bottom: 1rem;
}

.name-highlight {
  color: orange;
}
.half-width {
  width: 40%;
  float: left;
  margin: 5%;
  padding-left: 2%;
}
.half-width img {
  max-height: 40rem;
}
.top-banner {
  background-image: url(/images/top-banner.png);
  background-repeat: no-repeat;
  overflow: hidden;
}
.mid-banner {
  background-image: url(/images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  /* background-size: 100%; */
}
.experience {
  background-image: url(/images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
  height: 50rem;
  float: left;
}
.btn {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  color: antiquewhite;
  text-align: center;
  font-weight: 900;
  height: 1rem;
  width: 4rem;
  background-color: orange;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 2px 10px;
}
p {
  font-size: 1.6rem;
  margin: 2rem 0;
}
h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1rem;
}
h3 {
  font-style: italic;
  font-size: 1.5rem;
}

.experience .half-width {
  box-shadow: 1rem 1rem 4rem rgb(110, 109, 109);
  border-radius: 8px;
  height: 80%;
  border-left: 7px solid;
  padding-top: 2rem;
}
#exp__left {
  border-image: linear-gradient(180deg, salmon, tomato);
  border-image-slice: 1;
}
#exp__right {
  border-image: linear-gradient(180deg, blue, cyan);
  border-image-slice: 1;
}
.footer {
  text-align: center;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}
