body {
  margin: 0;
  padding: 100px;
  box-sizing: border-box;
}
.bank-title {
  text-align: center;
}
.submit-area {
  margin-top: 5rem;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px gray;
  display: none;
}
#transaction-area {
  display: block;
}
.deposit {
  background-color: slateblue;
}
.withdraw {
  background-color: lightsalmon;
}
.balance {
  background-color: orange;
}
.status {
  height: 10rem;
  text-align: center;
  border-radius: 10px;
  padding-top: 2.5rem;
  color: white;
}
